@use "./styles/variables";

#root {
    padding-bottom: 60px;
}

@media (min-width: map-get(variables.$grid-breakpoints, "md")) {
    #root {
        padding-bottom: 0;
    }
}

.material-icons,
.material-icons-outlined {
    display: inline-block; // Display for aligning icon
    vertical-align: middle; // Align icon in middle
}

.form-range::-moz-range-thumb {
    cursor: ew-resize;
}
